body {
    background-color: greenyellow;
}

nav {
    display: flex;
    background-color: aquamarine;
    top: 0%;
    left: 0%;
    
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0em 100em 0em 0em;
    
}

.section1 {
    display: flex;
    justify-content: center;   
    align-items: center;
    flex-direction: column;
    font-size: 100px;
}

.section1 h1:hover, h2:hover, h3:hover, h4:hover, h5:hover {
    color: green;
}

img {
    position: absolute;
    height: 400px;
    width: 800px;
    top: 45%;
    left: 52%;
}

button {
    position: absolute;
    top: 40%;
    left: 10%;
}